{% extends 'base.html' %}
{% load static %}

{% block jquery %}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/all.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h2 style="text-align:center">masukkan schedule anda</h2>
    <form method="post">
      {% csrf_token %}

      nama :
      {{form.nama}} <br>
      tanggal : <span style="color:blue">*contoh format tanggal : 2018-09-11 12:00</span>
      {{form.tanggal}} <br>
      deskripsi :
      {{form.deskripsi}} <br>
      <button type="submit" name="button" class="btn btn-success">Simpan</button>
    </form>
  </div>
{% endblock %}
