{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h1>Schedule App</h1>
      </div>
      <div class="col-lg-8">
        <h1><a href="{% url 'schedule_tambah' %}" class="btn btn-success">Tambah Schedule</a></h1>
      </div>
    </div>
    <hr>
    <div class="row">
      {% for schedule in schedule %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h3>{{schedule.nama}}</h3>
            <h5>{{schedule.tanggal}}</h5>
            <p class="card-text">{{schedule.deskripsi | slice:':100'}}...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'schedule_detail' schedule.id %}" class="btn btn-sm btn-dark">Lihat Detail</a>
                <a href="{% url 'schedule_delete' schedule.id %}" class="btn btn-sm btn-danger" style="margin-left:8px">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
