{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css'%} ">
    <link rel="stylesheet" href="{% static '/css/styles.css'%} ">
    <link rel="stylesheet" href="{% static '/css/Google-Style-Login.css'%} ">
</head>

<body>
    <div class="login-card">
        <p class="profile-name-card"> Login Page </p>
        {% if messages %}
          {% for pesan in messages %}
            {{pesan}}
          {% endfor %}
        {% endif %}
        <form class="form-signin" method="POST"><span class="reauth-email"> </span>
          {% csrf_token %}
          {{form.username}}
          {{form.password}}
          {{akun_salah}}
          <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
        </form>
        <p style="color:red">*beberapa fitur/app mengharuskan anda login untuk bisa dijalankan</p>
        <h5><a href="{% url 'register_user' %}" class="forgot-password">Belum Punya Akun ?, Klik disini</a></h5>
      </div>
    <script src="{% static '/js/jquery.min.js'%} "></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js'%} "></script>
</body>

</html>
