{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Just Read...</h1>
          <p class="lead my-3">"the more you <code>READ</code> the more <code>THINGS</code> you know. the more that you <code>LEARN</code> the more <code>PLACES</code> you'll go."</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">-Dr. Seuss</a></p>
        </div>
      </div>


    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>

          <div class="blog-post">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
              {% for artikel in artikel %}
                <p class="media-body pb-3 mb-0 small lh-125 border-top border-gray">
                  <h3><strong class="d-block text-gray-dark">{{artikel.judul}}</strong></h3>
                  {{artikel.isi | safe | slice:':225'}}...
                  <br><a href="{%url 'artikel_detail' artikel.id %}">lanjutkan membaca</a>
                </p>
              {% endfor %}
            </div>
          </div><!-- /.blog-post -->


          <span class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </span>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h6><p class="mb-0">A Reader Lives a <em>Thousand Lives</em> Before He Dies. The Man Who Never Reads <em>Lives Only Once.</em></p></h6>
            <h4 class="font-italic">George R.R. Martin</h4>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Kategori</h4>
            <ol class="list-unstyled">
              {% for kategori in kategori %}
                <li><a href="#">{{kategori.nama}}</a></li>
              {% endfor %}
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

      <p>
        <a href="#" class="float-right">Back to top</a>
      </p>
    </main><!-- /.container -->

{% endblock %}
