{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ramalan Cuaca</h1>
    <p class="lead">Lihat bagaimana keadaan cuaca hari ini, <strong>tanggal : {{datetime}}</strong>.</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    {% for data_cuaca in data_cuaca %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <article class="media">
            <div class="media-left">
              <figure class="image is-100x100">
                <img src="http://openweathermap.org/img/w/{{data_cuaca.icon}}.png" alt="icon">
              </figure>
            </div>
            <div class="media-content">
              <h3>{{data_cuaca.kota}}</h3>
              <span class="card-text">{{data_cuaca.temperature}}</span> Celcius <br>
              <span class="card-text">{{data_cuaca.deskripsi}}</span>
            </div>
          </article>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
