{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css'%} " rel="stylesheet">
    <link href="{% static 'css/navbar.css'%} " rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css'%}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    {% block jquery %}
    {% endblock %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="{% url 'home' %}">Ridho Asfian</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my_project' %}">My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'artikel_list' %}" id="dropdown_artikel">Artikel</a>
              <div id="submenu">
                <a href="#">Teknologi</a> <br>
                <a href="#">Movie</a> <br>
                <a href="#">Hobi</a> <br>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactme_app/">Contact Me</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        <a class="btn btn-outline-primary" style="margin-left:8px" href="#">Sign up</a>
      </nav>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; This web created by ridhoasfian86@gmail.com</span>
      </div>
    </footer>


  <script>
  $('#submenu').hide();
    $('#dropdown_artikel').mouseenter(function(){
      $('#submenu').slideToggle(500);
    });

    $(' nav ').mouseleave(function(){
      $('#submenu').slideToggle(500);
    });
  </script>
  </body>
</html>
