{% extends 'base.html' %}

{% block content %}
<div class="album py-5" style="background:url('../static/img/laptop_aple.jpeg')">
  <main role="main">
    <div class="jumbotron container " style="background: rgba(255, 255, 255, 0.5)">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p><strong>Disini saya membuat beberapa project menggunakan <code>framework django</code> dengan bahasa pemrograman <code>python</code> yg saya buat di waktu senggang.</strong></p>
        <p><strong>Untuk frontend nya sendiri disini saya menggunakan framework <code>bootstrap</code> dan <code>JQuery</code>. Sedangkan untuk hosting web nya menggunakan layanan <code>pythonanywhere.com</code>.</strong></p>
        <p>
          <a class="btn btn-primary" href="../../components/navbar/" role="button">Learn More &raquo;</a>
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
