{% extends 'base.html' %}
{% load static %}



{% block content %}
<link href="{% static 'css/album.css'%}" rel="stylesheet">

<div class="album py-5" style="background-image:url('../static/img/background_myproject.png'); background-size:contain; ">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h3>Aplikasi Ramalan Cuaca</h3>
                  <p class="card-text">Lihat Bagaimana keadaan cuaca hari ini, sehingga anda dapat mempersiapkan pakaian dan kendaraan ketika hendak bepergian keluar rumah.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'weather_list' %}" class="btn btn-sm btn-outline-secondary">Jalankan App</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h3>Aplikasi schedule</h3>  <h4 style="color:red">(belum selesai)</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <a href="{% url 'schedule_list' %}" class="btn btn-sm btn-outline-secondary">Jalankan App</a> -->
                      <a href="" class="btn btn-sm btn-outline-secondary">Jalankan App</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h3>Aplikasi Polling</h3>
                  <p class="card-text">Buat Polling anda sendiri, dan ikut berpartisipasi dengan polling yang orang lain buat. <code>anda harus login dulu untuk menjalankan fitur ini.</code></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'polling_list' %}" class="btn btn-sm btn-outline-secondary">Jalankan App</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h3>Habiskan Anggaran App</h3>
                  <p class="card-text">Buat rencana anggaran anda dan catat setiap pengeluaran yang anda habiskan dalam anggaran tersebut.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'anggaran_list' %}" type="button" class="btn btn-sm btn-outline-secondary">Jalankan App</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h3>Aplikasi To Do</h3>
                  <p class="card-text">Aplikasi sederhana ini dimaksudkan untuk membuat list atau daftar kegiatan anda dan mencoret nya daftarnya jika sudah selesai.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'to_do_app' %}" type="button" class="btn btn-sm btn-outline-secondary">Jalankan App</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
